body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*::-webkit-scrollbar {
  width: 0.8rem;
  height: 0.5rem;
}

/* *::-webkit-scrollbar-button {
  width: 5px;
  height: 0px;
} */

*::-webkit-scrollbar-thumb {
  background: #FB7A1D;
  border: 1px solid #333333;
  border-radius: 5px;
  transition: .5s;
}

*::-webkit-scrollbar-thumb:active {
  background: #FFF;
}

*::-webkit-scrollbar-track {
  background: #333333;
  border-radius: 0;
}

*::-webkit-scrollbar-corner {
  background: transparent;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
